CLOUD_FUNCTION_ID=
CLOUD_FUNCTION_SERVICE_ACCOUNT_ID=
CLOUD_FUNCTION_EXECUTION_TIMEOUT=3s

APP_BASE_URL=
TELEGRAM_CLIENT_ID=
YDB_CONNECTION_STRING=
YDB_METADATA_CREDENTIALS=1

SESSION_SECRET_ID=
SESSION_SECRET_VERSION_ID=
SESSION_SECRET_KEY=session_secret

TELEGRAM_CLIENT_SECRET_ID=
TELEGRAM_CLIENT_SECRET_VERSION_ID=
TELEGRAM_CLIENT_SECRET_KEY=telegram_client_secret
